<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
<script src="/assets/scripts/rendering.js" async></script>
<link rel="stylesheet" type="text/css" href="/assets/css/tikz_fonts.css">
<script src="/assets/scripts/sneak_listener.js"></script>

{% if page.css != "" %}
<link rel="stylesheet" href="/assets/css/{{ page.css }}.css" type="text/css">
{% endif %}

<base target="_blank">


