<div id="my-jumbotron" class="jumbotron topbar">
  <!-- <canvas id="mandelbrot-1" class="mandelbrot-canvas"></canvas> -->
  <img id="mandelbrot-1" class="mandelbrot-image" src="/assets/images/mandelbrot_upper.png"></img>
  <h1 id="my-name">Joel Courtney</h1>
</div>
<div id="navbar" class="topbar">
  <!-- <canvas id="mandelbrot-2" class="mandelbrot-canvas"></canvas> -->
  <img id="mandelbrot-2" class="mandelbrot-image" src="/assets/images/mandelbrot_lower.png"></img>
  <nav>
    <div class="btn-group" role="group" aria-label="Basic example">
      {% for item in site.data.navigation %}
      <button type="button" class="btn btn-secondary {% if page.url == item.link %} current-nav {% else %} not-current-nav {% endif %}" onclick="window.location.href = '{{ item.link }}';">{{ item.name }}</button>
      {% endfor %}
    </div>
  </nav>
</div>
