<div id="my-jumbotron" class="jumbotron topbar">
  <!-- <canvas id="mandelbrot-1" class="mandelbrot-canvas"></canvas> -->
  <img id="mandelbrot-1" class="mandelbrot-image" src="/assets/images/mandelbrot_upper.png"></img>
  {% if page.sneaky == "false" %}
    <h1 id="my-name">Joel Courtney</h1>
  {% else %}
    <h1 id="my-name">Sneaky Things</h1>
  {% endif %}
</div>
<div id="navbar" class="topbar">
  <!-- <canvas id="mandelbrot-2" class="mandelbrot-canvas"></canvas> -->
  <img id="mandelbrot-2" class="mandelbrot-image" src="/assets/images/mandelbrot_lower.png"></img>
  <nav>
    <div class="btn-group" role="group" aria-label="Basic example">
      {% if page.sneaky == "false" %}
        {% for item in site.data.navigation %}
          <button type="button" class="btn btn-secondary {% if page.url == item.link %} current-nav {% else %} not-current-nav {% endif %}" onclick="window.location.href = '{{ item.link }}';">{{ item.name }}</button>
        {% endfor %}
      {% else %}
      {% for item in site.data.sneaky_navigation %}
        <button type="button" class="btn btn-secondary {% if page.url == item.link %} current-nav {% else %} not-current-nav {% endif %}" onclick="window.location.href = '{{ item.link }}';">{{ item.name }}</button>
      {% endfor %}
      {% endif %}
    </div>
  </nav>
</div>
