.joelcourtney-net {
  // background-color: #436280;
  // background-color: #a3bad2;
  background-color: black;
  font-family: 'Fira Code', normal;
}

.content {
  background-color: #112236;
  margin: 20px 10%;
  padding: 30px;
  // color: white;
  color: #dbe4ed;
}

h1 {
}
