.joelcourtney-net {
  background-color: $dark;
  font-family: $font, monospace;
}

.content {
  background-color: $dim;
  margin: 20px 10%;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: $bright;
  font-size: 11pt;

  h1, h2, h3, h4 {
    color: $light;
  }

  code {
    color: $bright;
    font-family: $code_font, monospace;
  }

  .tikz-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
