---
title: Notes
permalink: notes
---
<script>
var urlParams;
(window.onpopstate = function () {
    var match,
        pl     = /\+/g,  // Regex for replacing addition symbol with a space
        search = /([^&=]+)=?([^&]*)/g,
        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
        query  = window.location.search.substring(1);

    urlParams = {};
    while (match = search.exec(query))
       urlParams[decode(match[1])] = decode(match[2]);
})();

var departments = [
{% for dep in site.data.departments %}
  {
    'code': '{{ dep.code }}',
    'name': '{{ dep.name }}',
    'classes': [
      {% for class in dep.classes %}
        {
          'code': '{{ class.code }}',
          'name': '{{ class.name }}'
        },
      {% endfor %}
    ]
  },
{% endfor %}
];
var notes = [
{% for note in site.categories.notes %}
{
'url': '{{ note.url }}',
'date': '{{ note.date | date: "%A, %e %B %Y" }}',
'class_code': '{{ note.class_code }}'
},
{% endfor %}
];
notes.sort(function(a,b) {return (a.url == b.url) ? 0 : ((a.url > b.url) ? 1 : -1)});
console.log(notes);
var contents;
if ('class_code' in urlParams) {
  var current_class;
  for (var d = 0; d < departments.length; d++) {
    var classes = departments[d].classes;
    for (var c = 0; c < classes.length; c++) {
      if (classes[c].code == urlParams.class_code) {
        current_class = classes[c];
      }
    }
  }
  contents = "<h1>Notes for " + current_class.name + "</h1>";
  for (var n = 0; n < notes.length; n++) {
    if (notes[n].class_code == current_class.code) {
      contents += "<a href='" + notes[n].url + "' target='_self'>" + notes[n].date + "</a><br />";
    }
  }
} else {
  contents = "<h1>Courses</h1>";
  for (var d = 0; d < departments.length; d++) {
    console.log(d);
    contents += "<h2>" + departments[d].name + "</h2>";
    var classes = departments[d].classes;
    for (var c = 0; c < classes.length; c++) {
      contents += '<a href="?class_code=' + classes[c].code + '" target="_self">' +
        classes[c].name + '</a>';
    }
  }
}
document.write(contents);
</script>
