---
---

{% assign palette = site.data.palettes.pinecone %}

$bright: #{{ palette.bright }};
$light: #{{ palette.light }};
$medium: #{{ palette.medium }};
$dim: #{{ palette.dim }};
$dark: #{{ palette.dark }};

@import url(https://overpass-30e2.kxcdn.com/overpass.css);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

$font: overpass;
$code_font: Fira Code;

@import "main";
@import "topbar";
@import "monokai";
