<!doctype html>
<html>
<head>

  <title>{{ page.title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- <script src="https://d3js.org/d3-array.v2.min.js"></script> -->
  <!-- <script src="mandelbrot.js"></script> -->

  {% if page.css != "" %}
  <link rel="stylesheet" href="/assets/css/{{ page.css }}.css">
  {% endif %}

  <base target="_blank">

</head>
<body class="joelcourtney-net">
  {% include topbar.html %}
  <div class="container">
    <div class="row">
      <div class="col-6 img-rounded content">
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html>
